<div id="first-row" class="row">
  <div class="col text-center">
    <!-- Choose Game Button -->
    <button class="btn btn-primary" [disabled]="!(games && games.length > 0)" type="button">
      <h2 class="m-3">
        Choose Game
      </h2>
    </button>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col">
    <!-- Tag Filtering -->
  </div>
</div>
<div class="row justify-content-center pt-3">
  <div class="col-12 col-md-6 col-lg-4">
    <!-- Game List -->
    <table class="table">
      <thead>
        <tr>
          <th colspan="2" class="text-center">
            Games
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="games && games.length > 0; else noGamesWarning">
          <tr *ngFor="let game of games">
            <td>
              <!-- game icon -->
              <img src="{{game.iconUrl}}">
            </td>
            <td>
              <!-- game title -->
              {{game.title}}
            </td>
          </tr>
        </ng-container>
        <ng-template #noGamesWarning>
          <tr>
            <td colspan="2">
              Hmm, you don't seem to have any games...
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>